mixin skill(title, array)
    //[ { name: , perc: , opac: }, ... ]
    h3.skills__title= title
    ul.skills__list
        each el, index in array
            - var perc = 6.28 * 44 * (1 - el.perc)
            - var opac = el.opac ? el.opac : 0.9
            li.skills__item(class=`${title.toLowerCase()}`)
                h5(class="skills__item-name")= `${el.name}`
                svg.skills__item-svg
                    circle(r="44" cx="60" cy="60")
                    circle(r="44" cx="60" cy="60" class="skills__item-sector" style={'stroke-dashoffset':`${perc}`, 'opacity':`${opac}`})

//------------------------------------------------------------------
mixin banner-arrow()
    a(href='#').banner__link
        svg.banner__arrow-down
            use(xlink:href='assets/img/icons/sprite.svg#arrow_down')

//-------------------------------------------------------------------
mixin blog-menu(titles)
    each title in titles
        ul.blog-menu
            li.blog-menu__item
                a(href="#").blog-menu__link= title

//---- Slider --------------------------

mixin slidesButtonShow(activeSlide)
    ul(class = attributes.class)
        each path, index in slides
            if index === activeSlide
                li.slider__buttons-item.slide-active
                    img(src= path).slider__buttons-pic
            else
                li.slider__buttons-item
                    img(src= path).slider__buttons-pic