include ../utils/mixins

doctype html(lang='ru')
head
    meta(charset='UTF-8')
    |
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    |
    link(rel='shortcut icon', type='image/png', href='fav_forest.png')
    |
    title Portfolio | MSH
body
    // Header
    header#header.header
        .header__wrapper
            nav.navigation
                .socials
                    ul.socials__list
                        each val in ['vk', 'github', 'in']
                            li.socials__item
                                a.socials__link(href='#', target='_blank')
                                    svg(class="socials__svg socials__svg--"+val)
                                        use(xlink:href='assets/img/icons/sprite.svg#'+val)
                |
                .menu
                    a.menu__link(href='#')
                        svg.menu__svg
                            use(xlink:href='assets/img/icons/sprite.svg#hamburger')
            |
            .banner
                img.banner__img(src='assets/img/fashmark-men-trends-nature.png', alt='Image')
                |
                h2.banner__name Владимир Астахов
                |
                p.banner__text Личный сайт веб разработчика
                |
                a.banner__link(href='#')
                    svg.banner__arrow-down
                        use(xlink:href='assets/img/icons/sprite.svg#arrow_down')
        .header__decor
            img(src='assets/img/decor/portfolio-header.png', alt="Portfolio")
    |
    //About
    section#about.about
        .about__triangles
            svg(
                viewBox="0 0 1000 100"
                preserveAspectRatio="none"
                class="triangle triangle--white")
                polygon(points="0,0 0,100 1000,100")
            svg(
                viewBox="0 0 1000 100"
                preserveAspectRatio="none"
                class="triangle triangle--beige")
                polygon(points="0,100 1000,100 1000,0")
        .about__left
            .about__left-title
                .main-title.about__left-title-position
                    h1 Обо мне
            .aboutme
                img(src='./assets/img/men.jpg' class='aboutme__img')
                h2.aboutme__title Кто я
                p.aboutme__text
                    | Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                p.aboutme__text
                    | Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        .about__right
            h2.about__right-title Чем я могу быть вам полезен
            p.about__right-text
                | Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
            -arr1 = [{ name: 'HTML5', perc: '0.9'}, {name: 'CSS3', perc: '0.8'}, {name: 'JavaScript & jQuery', perc: '0.8'}]
            -arr2 = [{name:'PHP', perc: '0.4', opac:'0.6'}, {name:'mySQL', perc: '0.6', opac:'0.6'}, {name:'Node.js & npm', perc: '0.4', opac:'0.6'}, {name:'Mongo.db', perc: '0.6', opac:'0.6'}]
            -arr3 = [{name:'Git', perc: '0.8', opac:'0.9'}, {name:'Gulp', perc: '0.6', opac:'0.7'}, {name:'Bower', perc: '0.6', opac:'0.6'}]
            .skills
                +skill('Frontend', arr1)
                +skill('Backend', arr2)
                +skill('WorkFlow', arr3)
