extends ../main-layout

block title
    title Portfolio | Works

block name
    h2.banner__name Владимир Астахов

block slogan
    p.banner__text Личный сайт веб разработчика
    +banner-arrow

block content
    section#my-works.works
        .works__triangles
            svg(
            viewBox="0 0 1000 100"
            preserveAspectRatio="none"
            class="triangle triangle--beige-works")
                polygon(points="0,0 0,100 1000,100")
            svg(
            viewBox="0 0 1000 100"
            preserveAspectRatio="none"
            class="triangle triangle--beige-works")
                polygon(points="0,100 1000,100 1000,0")
        .works__header
            .main-title.works-header
                h1 Мои работы
        .slider
            .slider__desc
                .slider__desc-block
                    h2.slider__desc-header Сайт школы онлайн Образования
                    p.slider__desc-text
                     | Html, css, javascript
                    a(href="#" class="slider__desc-link" target="_blank")
                        .slider__desc-link-wrap
                            img(src="/assets/img/link.png")
                            span Посмотреть сайт
            .slider__work
                img(src="/assets/img/big-work.png")
            .slider__buttons
                .slider__buttons-arrow
                    ul.slider__buttons-works.slider-first
                        li.slider__buttons-item.slide-active
                            img(src="/assets/img/slider/yoga.png").slider__buttons-pic
                        li.slider__buttons-item
                            img(src="/assets/img/slider/1.jpeg").slider__buttons-pic
                        li.slider__buttons-item
                            img(src="/assets/img/slider/2.jpeg").slider__buttons-pic
                        li.slider__buttons-item
                            img(src="/assets/img/slider/3.jpeg").slider__buttons-pic
                    |
                    a(href="#").svg-wrap.slider__buttons-arrow-down
                        svg
                            use(xlink:href="assets/img/icons/sprite.svg#arrow_down")
                .slider__buttons-arrow
                    ul.slider__buttons-works.slider-second
                        li.slider__buttons-item.slide-active
                            img(src="/assets/img/mockup1800.png").slider__buttons-pic
                        li.slider__buttons-item
                            img(src="/assets/img/slider/1.jpeg").slider__buttons-pic
                        li.slider__buttons-item
                            img(src="/assets/img/slider/2.jpeg").slider__buttons-pic
                        li.slider__buttons-item
                            img(src="/assets/img/slider/3.jpeg").slider__buttons-pic

                    a(href="#").svg-wrap.slider__buttons-arrow-up
                        svg
                            use(xlink:href="assets/img/icons/sprite.svg#portf_arrow_up")
    section#whatabout.what-about
        .what-about__wrapper
            img(src="/assets/img/list1.png").list1
            img(src="/assets/img/list2.png").list2
            img(src="/assets/img/list3.png").list3
            .main-title.about-header.what-about__header
                h1 Что обо мне говорят
            .reviews
                .review
                    img(src="/assets/img/kov-dmitriy.png").review__pic
                    p.review__text
                     | Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                    .review__signature
                        span Ковальчук Дмитрий
                        br
                        | — основатель Loftschool
                .review
                    img(src="/assets/img/vladimir.png").review__pic
                    p.review__text
                        | Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
                    .review__signature
                        span Сабанцев Владимир
                        br
                        | — преподаватель
            form.form.what-about-form
                .form-wrapper
                    h2.form__header Связаться со мной
                    input(type="text" placeholder="Имя" required="required").form__input
                    input(type="email" placeholder="Email" required="required").form__input
                    textarea(placeholder="Ваше сообщение").form__textarea
                .form__buttons
                    input(type="submit" value="Отправить").form__button
                    input(type="reset" value="Очистить").form__button
            svg.what-about__arrow-up
                use(xlink:href='assets/img/icons/sprite.svg#arrow_down')
        |
        include ../parts/footer