extends ../main-layout

block title
    title Portfolio | Works

block name
    h2.banner__name Владимир Астахов

block slogan
    p.banner__text Личный сайт веб разработчика

block content
    section#my-works.works
        .works__triangles
            svg(
            viewBox="0 0 1000 100"
            preserveAspectRatio="none"
            class="triangle triangle--beige-works")
                polygon(points="0,0 0,100 1000,100")
            svg(
            viewBox="0 0 1000 100"
            preserveAspectRatio="none"
            class="triangle triangle--beige-works")
                polygon(points="0,100 1000,100 1000,0")
        .works__header
            .main-title.works-header
                h1 Мои работы
        .slider
            .slider__desc
                .slider__desc-block
                    h2.slider__desc-header Сайт школы онлайн Образования
                    p.slider__desc-text
                     | Html, css, javascript
                    a(href="#" class="slider__desc-link" target="_blank")
                        .slider__desc-link-wrap
                            img(src="/assets/img/link.png")
                            span Посмотреть сайт
            .slider__work
                img(src="/assets/img/big-work.png")
            .slider__buttons
                .slider__buttons-arrow.up-arrow
                    img(src="/assets/img/yoga.png").slider__buttons-pic
                    a(href="#").svg-wrap
                        svg
                            use(xlink:href="assets/img/icons/sprite.svg#portf_arrow_down")
                .slider__buttons-arrow.down-arrow
                    img(src="/assets/img/mockup1800.png").slider__buttons-pic
                    a(href="#").svg-wrap
                        svg
                            use(xlink:href="assets/img/icons/sprite.svg#portf_arrow_up")

